*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#index + h1{
    color: hsl(0, 100%, 50%);
    background-color: hsl(180, 100%, 25%);
}
#images{
    color: black;
    padding: 30px;
    text-align: center;
   
}
.image1{
    animation-name: zooming;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-direction: alternate;
}

.image1:hover{
    transform: scale(1.5);
}
.image2{
position: absolute;
left: 15%;
top: 55%;
z-index: 1;
animation-name: zooming;
animation-duration: 3s;
animation-timing-function: ease-in-out;
animation-iteration-count: 1;
animation-direction: alternate;
}

.image2:hover{
    transform: scale(1.5);
}
.image3{
    position: absolute;
    top: 620px;
    left: 10px;
    z-index: 1;
    animation-name: zooming;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-direction: alternate;
}
.image3:hover{
    transform: scale(1.5);
}
.image4{
    position: absolute;
    top: 880px;
    left: 200px;
    z-index: 1;
    animation-name: zooming;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-direction: alternate;
}
.image4:hover{
    transform: scale(1.5);
}

.image5{
    position: absolute;
    top: 1150px;
    left: 10px;
    z-index: 1;
    animation-name: zooming;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-direction: alternate;
    
    
}
.image5:hover{
    transform: scale(1.5);
}


@keyframes zooming {
    from{
        background-color: #ff0000;
        transform: scale(1.5);
        box-shadow: 2px, 2px, 2px, #adff2f;
    }
    to{
        background-color: hsl(84, 100%, 59%);
        transform: scale(1);
        box-shadow: 4px, 4px 4px, hsl(0, 100%, 50%);

    }
}
